<div class="w-full h-[90px] bg-dark-medium hover:bg-dark-light flex items-center font-medium pr-2 border-b rounded-regular my-2 border-primary-light">
  <!-- <div class="px-1 md:px-2">
    <span class="material-symbols-outlined text-3xl cursor-pointer">star</span>
  </div> -->
  <div class="px-1 md:px-2 w-[60px] flex justify-center items-center">
    <span class="time span-dots text-red-500 text-lg font-bold">{{time}}</span>
  </div>
  <div class="grow px-1 md:px-2">
    <div class="home_team flex justify-between pb-2">
      <div class="flex items-center">
        <img class="inline-block pr-2" [src]="home_shield" alt="">
        <span class="name span-dots">{{home_team}}</span>
      </div>
      <span class="score my-auto text-xl">{{home_score}}</span>
    </div>
    <div class="away_team flex justify-between">
      <div class="flex items-center">
        <img class="inline-block pr-2" [src]="away_shield" alt="">
        <span class="name span-dots">{{away_team}}</span>
      </div>
      <span class="score my-auto text-xl">{{away_score}}</span>
    </div>
  </div>
</div>
<!-- <div class="w-full bg-primary-heavy flex p-2 py-5 md:px-10 font-semibold rounded-large">
  <div class="flex w-full justify-between">
    <div class="home flex flex-col items-center">
      <img class="w-16 mb-2" src="https://www.livescore.in/res/image/data/SYsG4HGG-lrTGMb7F.png" alt="">
      <span class="text-sm">SC Weiche-08</span>
    </div>
    <div class="scoreboard mt-auto">
      <div class="scores bg-white px-3 py-2 text-black rounded-default flex justify-between items-center mb-3 text-lg font-bold">
        <span>2</span>
        <span>-</span>
        <span>3</span>
      </div>
      <div class="text-center text-white bg-dark-medium px-2 rounded-default text-sm">Intervalo</div>
    </div>
    <div class="away flex flex-col items-center">
      <img class="w-16 mb-2" src="https://www.livescore.in/res/image/data/YajC1tzB-MaRhHjC1.png" alt="">
      <span class="text-sm">Hamburger SV II</span>
    </div>
  </div>
  <div class="stats">

  </div>
</div> -->

