<div class="flex min-w-screen min-h-screen bg-dark-heavy">
  <!-- <div class="h-screen lg:basis-[320px] xl:basis-[400px] bg-primary-heavy sticky top-0 p-10 flex flex-col justify-between">
    <div>
      <img class="w-[200px] h-auto mx-auto" src="../../../assets/logo.png" alt="">
      <ul class="menu pt-10">
        <li class="flex items-center">
          <span class="material-symbols-outlined mr-5 text-3xl">timer</span>
          <a href="#" class="text-xl font-semibold">Jogos no intervalo</a>
        </li>
      </ul>
    </div>

    <button type="submit"
      class="mb-6 bg-primary-light hover:bg-dark-medium md:mb-0 block mx-auto rounded-regular uppercase py-3 px-12 font-bold">sair</button>
  </div> -->
  <div class="content grow">
    <router-outlet></router-outlet>
  </div>

</div>

