<div class="mb-4">
  <label class="block capitalize text-sm mb-1" [for]="name">
    {{label}}
  </label>
  <div class="relative">
    <span class="material-symbols-outlined text-2xl
      absolute
      left-5
      top-[calc(50%-16px)]
      ">{{icon}}
    </span>
    <input
      [formControl]="control"
      [type]="type" [name]="name" [placeholder]="placeholder"
      class="bg-transparent border-dark-light border-2 focus:border-primary-light outline-none rounded-regular p-2 px-14 w-full h-[60px]"
      >
    <span
    [ngClass]="originalType === 'password' ? 'block' : 'hidden'"
    class="material-symbols-outlined text-2xl
      absolute
      right-5
      top-[calc(50%-16px)]
      cursor-pointer
      "
      (click)="togglePassword()"
      >{{iconPassword}}
    </span>
  </div>
  <ng-container *ngIf="control.invalid && control.dirty && control.touched">
    <div class="text-red-500 font-medium px-1 pt-1 text-sm" *ngFor="let err of control.errors | keyvalue">{{customValidation.errorMessages[err.key]}}</div>
  </ng-container>
</div>





