<label class="block" [for]="name" [formGroup]="parentForm">
  <span class="capitalize text-sm">{{label}}</span>
  <div class="relative mb-5 mt-2">
    <span class="material-symbols-outlined text-2xl
      absolute
      left-5
      top-[calc(50%-16px)]
      ">{{icon}}
    </span>
    <input
      [formControlName]="name"
      [type]="type" [name]="name" [placeholder]="placeholder"
      class="bg-transparent border-dark-light border-2 focus:border-primary-light outline-none rounded-regular p-2 px-14 w-full h-[60px]"
      >
    <span
    [class]="originalType === 'password' ? 'block' : 'hidden'"
    class="material-symbols-outlined text-2xl
      absolute
      right-5
      top-[calc(50%-16px)]
      cursor-pointer
      "
      (click)="togglePassword()"
      >{{iconPassword}}
    </span>
  </div>
</label>
<a
  href="#"
  [class]="originalType === 'password' ? 'block' : 'hidden'"
  class="block text-right mb-2"
  >
    <span class="hover:text-primary-light font-medium text-sm">Esqueceu sua senha?</span>
</a>
