<div id="login" class="w-screen md:h-screen md:flex md:justify-center md:items-center">
  <div id="content" class="md:w-[750px] lg:w-[800px] md:h-[500px] md:flex">
    <div id="left-content"
    class="from-primary-light to-primary-heavy bg-gradient-to-br
    hidden
    md:flex flex-col justify-between md:w-[330px] lg:w-[350px] h-full rounded-l-large
    text-center p-8 pt-14
    ">
      <div>
        <span class="uppercase text-2xl font-bold">seja bem-vindo</span><br/>
        <span class="text-lg font-normal">ao sistema Fitengine</span>
      </div>
      <p class="uppercase text-5xl font-extrabold">login</p>
      <img class="w-[120px] h-auto mx-auto" src="../../../assets/logo.png" alt="">

    </div>
    <div id="right-content-and-mobile"
    class="bg-dark-heavy
    min-h-screen md:min-h-0 md:h-full md:grow md:rounded-r-large
    p-8 pt-16
    ">
      <span class="text-lg lg:text-xl font-semibold">Digite suas credendiciais para entrar</span>
      <form class="py-8" action="">
        <app-input label="e-mail" name="email" placeholder="Digite seu e-mail" icon="&#xe158;" type="text"></app-input>
        <app-input label="senha" name="password" placeholder="Digite sua senha" icon="&#xe0da;" type="password"></app-input>
      </form>
    </div>
  </div>
</div>

